
.content{
    display: flex;
    justify-content: center;
   
}

.result{
    background-color: transparent;
    color: red;
    font-size: bold;
}
.middle{
    display: flex;
    justify-content: center; 
}
label{
    text-align: center;
}